html{
    background-color: #F6F6F6;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 90%;
    width: 70%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
}


.main{
    position: absolute;
    width: 65%;

    background-color: #ffffff;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;

    /*SHADOW*/
    -webkit-box-shadow: 0px 0px 10px 0px #888888;
    -moz-box-shadow: 0px 0px 10px 0px #888888;
    box-shadow: 0px 0px 10px 0px #888888;
}

header h1{
    color: #20A001;
}
header h3{
    color: #86EA66;
}

aside{
    position: absolute;
    background-color: #86EA66;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: left;
    height: 98%;
    margin: 1% 0 1% 1%;
    min-width: 156px;
}

article{
    margin-bottom: 5%;
}

article .button{
    border: 1px solid #cccccc;
    border-radius: 10px;
    width:150px;
    height:30px;
    background: linear-gradient(#FFFFFF, #dadada);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: #7c6f6f;
}

.first-table th{
      background-color: #99CCFF;
      color: #83826A;
  }

article table{
    margin-bottom: 5%;
}
.container{
    float:left;
    margin-left: 28%;
    color: #666666;
}

.info{
    color: #66A342;
    font-size: 72%;
    border-bottom: 1px dotted grey;
    padding-bottom: 0.5%;
}

.info a{
    color: #34BA01;
}






footer{
    clear: both;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 60px;
    margin-bottom: 3%;
    color: #86EA66;
}

/* FOR MOBILE DEVICES*/

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 65.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/*
    RWD MENU STYLE
*/

/*Strip the ul of padding and list styling*/
nav ul {
    list-style-position: inside;
    list-style-type: decimal;
    color: #FFFFFF;
    margin:0;
    padding:0;

}

/*Create a horizontal list with spacing*/
nav li, nav h2, li a {
    width: 90%;
    display:list-item;
    margin-left: 5%;

}

nav li a{
    border-bottom: 1px dashed #FFFFFF;
}


/*Style for menu links*/
nav li a, nav h2 {
    display:block;
    min-width:140px;
    height: 40px;
    text-align: left;
    line-height: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    background: #86EA66;
    text-decoration: none;
}

nav h2{
    font-size: 105%;
    background: linear-gradient(green, #38BF01);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 5%;
    margin-left:5%;
    width: 84%;
}

/*Hover state for top level links*/
nav li:hover a {
    background: #19c589;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ nav ul{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 760px){
    body{
        width: 100%;
        position: static;
    }
    /*Make dropdown links appear inline*/
    nav ul {
        position: static;
        width: 100%;
        display: none;
    }
    /*Create vertical spacing*/
    nav li {
        width: 100%;
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    nav ul li, li a, nav ul h2 {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }

}